@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track-piece {
  background-color: #000000;
}
::-webkit-scrollbar-thumb:vertical {
  height: 0px;
  background-color: #131313;
}
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #43bbff;
}

body {
  overflow: hidden;
  background-color: #141414;
  /* shadow */
}

nav {
  height: 9vh;
  border: white 1px solid;
}
.spaces {
  background-color: #141414;
  height: 100vh;
  overflow-y: scroll;
}
.custom-black-background {
  background-color: #141414;
}
.spaces-nav {
  height: 9vh;
}
.spaces-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

.columns {
  display: flex;
  height: 100vh;
  background-color: #141414;
}

.columns > div {
  flex: 1;
  /* border: 1px solid #43bbff; */
}
.columns > div:first-child {
  flex: 1;
  overflow-y: scroll;
  min-width: fit-content;
  border-right: 1px solid #43bbff;
}
.columns > div:nth-child(2) {
  flex: 2;
  overflow: scroll;
  flex-shrink: calc(100% - 300px);
  border-right: 1px solid #43bbff;
}
.columns > div:last-child {
  flex: 1;
  overflow-y: scroll;
  min-width: fit-content;
}
